jupyter>=1.0.0
nbconvert>=6.5.0
nbformat>=5.7.0
pymongo>=4.3.3
python-dotenv>=0.21.0
openai>=1.0.0
pandas>=1.5.3
numpy>=1.23.5
matplotlib>=3.7.1
seaborn>=0.12.2
scikit-learn>=1.2.2
setuptools>=65.5.0
